* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #112D4E;
} 

h1 {
	letter-spacing: 5px;
}

h2 {
	letter-spacing: 3px;
}

.about_me {
	word-spacing: 3px;
	line-height: 2rem;
}
.navbar_custom {
	background-color: black !important;
}

#landing, #projects, #tools, .card_tool_bkg, .nav_link, .modal_bkg {
	color: #F9F7F7;
}

.navbar_custom .navbar-toggler-icon {
	background-color: #3F72AF; /* White color for the toggler icon */
}

.navbar_custom .navbar-nav .nav-link:hover, .navbar_custom .nav_link:hover {
	color: #3F72AF !important; /* Yellow color on hover (you can adjust this) */
}

#landing {
	width: 100%;
	background: linear-gradient(0deg, rgba(17,45,78,1) 4%, rgba(17,45,78,0.12088585434173671) 37%, rgba(17,45,78,0) 100%), url('./images/earth.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#projects {
	width: 100%;
	background: linear-gradient(to bottom, #112D4E, #3F72AF); 
}

#tools {
	width: 100%;
	background: linear-gradient(to bottom, #3F72AF, #DBE2EF);
	color: #112D4E;
}

#contact {
	width: 100%;
	background: linear-gradient(to bottom, #DBE2EF, #F9F7F7);
}

.transform {
	transition: 2s;
}

.transform:hover {
	transform: scale(1.5);
}

.img_property {
	width: 500px;
	height: 250px;
}


#projects > .card_size > .card_size_2 {
	width: 18rem;
}

.card_tool_bkg, .card_size_2, .modal_bkg{
	background: #3F72AF;
}


footer, .message_form {
	background-color: #F9F7F7;
	color: #112D4E;
}
