@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000000 !important;
}

h1 {
  letter-spacing:  5px;
}

h3, h4 {
  letter-spacing:  3px;
}

#landing {
	background-image: url('./images/earth.jpg');
  filter: blur(8px);
  -webkit-filter: blur(8px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
	width: 80%;
  padding: 20px;
  text-align: center;
}

#projects {
  background: linear-gradient(to bottom, #112D4E, #3F72AF);
}

.slideShow1, .slideShow2 {
  display: none;
}

.mainProjectImage {
  display: block;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos:before, .logos:after{
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #000000);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000000);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 150px;
  width: 150px;
  margin: 10px;
}